<div class="row">
		<div class="col-xl-6">
			<kt-portlet [class]="'kt-portlet--height-fluid'">
				<kt-portlet-header [title]="'Lead by Month'">
					<ng-container ktPortletTools>
						<kt-context-menu2></kt-context-menu2>
					</ng-container>
				</kt-portlet-header>
				<kt-portlet-body>
					<kt-widget12 [data]="leadData"></kt-widget12>
				</kt-portlet-body>
			</kt-portlet>
		</div>
		<div class="col-xl-6">
			<kt-portlet [class]="'kt-portlet--height-fluid'">
				<kt-portlet-header [title]="'Quote by Month'">
					<ng-container ktPortletTools>
						<kt-context-menu2></kt-context-menu2>
					</ng-container>
				</kt-portlet-header>
				<kt-portlet-body>
					<kt-widget12></kt-widget12>
				</kt-portlet-body>
			</kt-portlet>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xl-6">
				<kt-portlet>
						<kt-portlet-header [title]="'Conversation-Lead to Quote'">
								<ng-container ktPortletTools>
									<kt-context-menu2></kt-context-menu2>
								</ng-container>
							</kt-portlet-header>
						<kt-portlet-body [class]="'kt-portlet__body--fit'">
								<kt-widget14 [title]="'Revenue Change'" [data]="conversationLeadData" [desc]="'Revenue change breakdown by cities'"></kt-widget14>
							</kt-portlet-body>
				</kt-portlet>
				
			
		</div>
		<div class="col-xl-6">
				<kt-portlet>
						<kt-portlet-header [title]="'Conversation-Quote to Acceptance'">
								<ng-container ktPortletTools>
									<kt-context-menu2></kt-context-menu2>
								</ng-container>
							</kt-portlet-header>
						<kt-portlet-body [class]="'kt-portlet__body--fit'">
								<kt-widget14 [title]="'Revenue Change'" [desc]="'Revenue change breakdown by cities'"></kt-widget14>
						</kt-portlet-body>
				</kt-portlet>
				
			
		</div>
	</div>
	
	