<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['../']" class="btn btn-secondary kt-margin-r-10"  mat-raised-button matTooltip="Back to the products list">
				<i class="la la-arrow-left"></i>
				<span>Back</span>
			</a>
			<a href="javascript:;" id="kt_demo_panel_toggle1" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
				<!-- <i class="la la-add"></i> -->
				<span>Add</span>
			</a>
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Edit Window">
				<span>Next </span>
			</a>
			<!-- <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
				<button mat-menu-item color="primary">Save & Duplicate</button>
				<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
			</mat-menu> -->
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
			<div class="row">

			<div class="col-md-4 kt-margin-bottom-20 kt-margin-bottom-10-mobile">
					<mat-card class="example-card quote-card">
							<h2>
								<i class="fa fa-home" style="margin-right:5px"></i>
								Lounge
							</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							<p><b>Windows:</b> 1, <b>DGUs:</b> 3</p>
						  </mat-card>
			</div>
			<div class="col-md-4 kt-margin-bottom-20 kt-margin-bottom-10-mobile">
					<mat-card class="example-card quote-card">
							<h2><i class="fa fa-home" style="margin-right:5px"></i>Bedroom 1</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							<p><b>Windows:</b> 3, <b>DGUs:</b> 2</p>
						  </mat-card>
			</div>
			<div class="col-md-4 kt-margin-bottom-20 kt-margin-bottom-10-mobile">
					<mat-card class="example-card quote-card">
							<h2><i class="fa fa-home" style="margin-right:5px"></i>Bedroom 2</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							<p><b>Windows:</b> 2, <b>DGUs:</b> 2</p>
						  </mat-card>
			</div>
			<div class="col-md-4 kt-margin-bottom-20 kt-margin-bottom-10-mobile" *ngIf="name || description">
					<mat-card class="example-card quote-card">
							<h2><i class="fa fa-home" style="margin-right:5px"></i>{{name}}</h2>
							<p>{{description}}</p>
							<p><b>Windows:</b> 2, <b>DGUs:</b> 2</p>
						  </mat-card>
			</div>
		</div>
		
	</kt-portlet-body>
</kt-portlet>

	<!-- begin::Demo Panel -->
<div ktOffcanvas [options]="demoPanelOptions" id="kt_demo_panel" class="kt-demo-panel">
		<div class="kt-demo-panel__head">
			<h3 class="kt-demo-panel__title">
				Add Room
			</h3>
			<a href="javascript:;" class="kt-demo-panel__close" id="kt_demo_panel_close1"><i class="flaticon2-delete"></i></a>
		</div>
		<div class="kt-demo-panel__body kt-scroll">
			<form name="roomForm" class="kt-form kt-form--group-seperator-dashed">
					<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Enter Name" [(ngModel)]="name" name="roomname">
							<mat-error>
								Room name is
								<strong>required</strong>
							</mat-error>
							<mat-hint align="start">Please enter
								<strong>Room name</strong>
							</mat-hint>
						</mat-form-field>
					<mat-form-field class="mat-form-field-fluid">
						<textarea matInput rows="3" placeholder="Enter Description" name="comments" [(ngModel)]="description"></textarea>
					</mat-form-field>
					<mat-checkbox class="example-margin">Is Wet Area</mat-checkbox>
					<p>Windows: 0, DGUS:0</p>

			</form>
				
			<a href="javascript:;" (click)="addRoom()" id="kt_demo_panel_close1" class="kt-demo-panel__purchase btn btn-brand btn-elevate btn-bold btn-upper" style="margin-top:30px" target="_blank">
				ADD
			</a>
		</div>
	</div>
	<!-- end::Demo Panel -->
	