/* You can add global styles to this file, and also import other style files */
@import "assets/vendors/base/vendors.bundle.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";

$primary-color:#006D41;
$primary-deep-color:#005734;
$accent-color:#c93239;
body{
    overflow-x: hidden;
    color: #464457 !important;
}
.cdk-overlay-container{
    z-index: 9999 !important;
}
.cdk-overlay-pane{
    z-index: 9999 !important;
}
.mat-row:nth-child(even){
    background-color:rgb(245, 245, 245) !important;
    }

// .mat-row:nth-child(odd){
//     background-color:black !important;
//     }
.tems-and-condition{
    color:$accent-color !important;
}

.alert.alert-info,.btn-primary{
    background: $accent-color !important;
    border: 1px solid $accent-color !important;
}
.kt-aside{
    background: $primary-color !important;
    kt-brand{
        border-bottom: 1px solid $primary-deep-color;
        .kt-aside__brand{
            background-color: $primary-color !important;
            .kt-aside__brand-logo{
                img{
                    width:170px;
                }
                
            }
        }
        
    }
    .kt-aside-menu-wrapper{
        .kt-aside-menu{
            background: $primary-color !important;
        }
    }
    
}
.kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler svg g [fill] {
    fill: #efefef !important;
}
.kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler svg g [fill]:hover{
    fill: #fff !important;
}
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__heading, .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link{
    background: $primary-deep-color !important;
}
.kt-aside .kt-aside-menu>.kt-menu__nav .kt-menu__item>.kt-menu__link:not(.kt-menu__link--active):not(.kt-menu__link--here):not(.kt-menu__link--hover) [class^="flaticon2-"], .kt-aside .kt-aside-menu>.kt-menu__nav .kt-menu__item>.kt-menu__link:not(.kt-menu__link--active):not(.kt-menu__link--here):not(.kt-menu__link--hover) [class*=" flaticon2-"]{
    color: white !important;
}
.kt-aside-close:hover,.kt-header-menu-wrapper-close:hover{
    background: $primary-color !important;
}
.kt-header .kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon svg g [fill]{
    fill: $primary-color !important;
}
.add-new,.add-new:hover{
    background: $primary-color !important;
    color:white !important
}
.btn-outline-brand{
    color: $accent-color !important;
    border-color: $accent-color !important;
}
.btn-outline-brand:hover{
    background: $accent-color !important;
    color:white !important
}
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link .kt-menu__link-icon{
    color:white !important;
}
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-icon {
    flex: 0 0 25px !important;
}
.kt-header .kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon svg g [fill]{
    fill: $accent-color !important;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{
    background: $accent-color !important;
    color:white !important
}
.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent{
    background: $accent-color !important;
    color:white !important
}
.mat-checkbox:not(.mat-checkbox-disabled).mat-primary .mat-checkbox-ripple .mat-ripple-element{
    background: $accent-color !important;
}
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
    color: $primary-color !important;
}
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background{
    background: $accent-color !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: $accent-color !important;
}
.btn-brand:not(:disabled):not(.disabled):active, .btn-brand:not(:disabled):not(.disabled).active, .show>.btn-brand.dropdown-toggle {
    color: #fff;
    background-color: $accent-color !important;
    border-color: $accent-color !important;
}
.kt-demo-panel .kt-demo-panel__head .kt-demo-panel__close:hover{
    background: $accent-color !important;
}
.btn-brand:hover{
    background: $accent-color !important;
}
.btn-brand{
    background: $accent-color !important;
}
.mat-row{
    &:hover{
        background: $primary-color !important;
        cursor: pointer;
        .mat-cell{
            color: white !important;
            .mat-icon{
                color: white !important;
            }
            .mat-select-value{
                color: white !important;
            }
            
        } 
  }
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
    background: $accent-color !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: $accent-color !important;
}
.mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
    background: $accent-color !important;
}
.kt-scrolltop{
    background: $accent-color !important;
}
.btn-secondary.disabled:hover {
    color: #6c7293;
    border-color: #ebedf2 !important;
    background-color: #f4f5f8 !important;
}
.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__heading, .kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__link{
    background: $primary-deep-color !important;
}
.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__heading, .kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__link .kt-menu__link-icon{
    color: white !important;
}
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-text {
    color: white !important;
}
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-icon{
    color: white !important;
}