/* You can add global styles to this file, and also import other style files */
@import "assets/vendors/base/vendors.bundle.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";
$primary-color:#006D41;
$primary-deep-color:#005734;
.kt-aside{
    background: $primary-color !important;
    kt-brand{
        border-bottom: 1px solid $primary-deep-color;
        .kt-aside__brand{
            background-color: $primary-color !important;
            .kt-aside__brand-logo{
                img{
                    width:150px;
                }
                
            }
        }
        
    }
    .kt-aside-menu-wrapper{
        .kt-aside-menu{
            background: $primary-color !important;
        }
    }
    
}
.kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler svg g [fill] {
    fill: #efefef !important;
}
.kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler svg g [fill]:hover{
    fill: #fff !important;
}
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__heading, .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link{
    background: $primary-deep-color !important;
}
.kt-aside .kt-aside-menu>.kt-menu__nav .kt-menu__item>.kt-menu__link:not(.kt-menu__link--active):not(.kt-menu__link--here):not(.kt-menu__link--hover) [class^="flaticon2-"], .kt-aside .kt-aside-menu>.kt-menu__nav .kt-menu__item>.kt-menu__link:not(.kt-menu__link--active):not(.kt-menu__link--here):not(.kt-menu__link--hover) [class*=" flaticon2-"]{
    color: white !important;
}
